@import "../bootstrap-5.2.1-dist/css/bootstrap.css";
@import 'fonts.css';

body {
  font-family: 'Montserrat', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold !important;
}

h1,
h2 {
  color: #01176f;
}

div input::placeholder {
  font-family: 'montserrat', sans-serif !important;
  color: gray;
}

.main_header {
  font-family: 'Montserrat';
  font-weight: bolder;
}

#imageUploaded{
  max-height: 30rem;
}

#main {
  padding: 8rem;
  margin: 5% auto;
  height: auto;
  width: auto;
  max-width: 50%;
  max-height: 50%;
  text-align: center;
  background-color: white;
}

#logo {
  height: auto;
  width: auto;
  max-width: 70%;
  max-height: 70%;
  margin-bottom: 10%;
}

#nav_logo {
  height: auto;
  width: auto;
  max-width: auto;
  max-height: 60px;
  position: static;
}

#background {
  background-color: #e2e2e2;
  text-align: center;
}

#submit {
  width: 100%;
  height: 50px;
  height: calc(1.5em + 0.75rem + 2px);
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: auto;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #FFFFFF;
  background-color: #01176f;
  background-clip: padding-box;
  border: 0px;
  border-radius: 2rem;
}

#search_box {
  position: absolute;
  left: 50%;
  transform: translatex(-50%)
}

#nav_bar {
  padding: 0.5rem .5rem;
  background-color: #01176f;
  min-width: 500px;
}

.nav-pills li a.active,
.nav-pills li a.active:hover,
.nav-pills li a.active:focus {
  background-color:
    /*93d50a*/
    #28a745 !important;
}

.nav-pills li a.active img, .color_invert {
  filter: invert(100%);
}

.nav_bar_icon {
  padding-left: 5%;
  width: auto;
  height: auto;
  max-width: 35px;
  max-height: 35px;
}

.left_bar_icon,
.dashboard_icon {
  width: auto;
  height: auto;
  max-width: 20px;
  max-height: 20px;
}

.nav_bar_icon_form ul {
  position: absolute;
  right: 0%;
}

.login_text {
  font-size: 1.2rem;
  font-family: 'montserrat';
  font-weight: bolder;
  color: #01176f;
  padding-top: 3%;
}

.icon {
  width: auto;
  height: calc(1.5em + 0.75rem + 2px);
  max-width: 50px;
  max-height: 50px;
}

.login_input {
  width: 100%;
  height: calc(1.5em + 0.75rem);
  padding: 0.375rem 0.75rem;
  font-size: .85rem;
  font-weight: 400;
  line-height: 1.5;
  color: #B2B2B2;
  background-color: #EDEDED;
  background-clip: padding-box;
  border: 0px;
  border-radius: 2rem;
}

.login_title {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.footer {
  background-color: #01176f;
  color: #bababa;
}

.footer a {
  text-decoration: none;
}

.footer ul {
  list-style-type: none;
}

.footer-quick-links-4 li a {
  padding: 3px 0;
  margin: 0;
  text-decoration: none;
  color: #bababa;
  display: inline-block;
}

.footer_logo {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.footer_social {
  width: auto;
  max-height: 20px;
  filter: invert(100%);
  display: inline-flex;
}

.footer-quick-links-4 li a i {
  padding: 0 10px 0 0;
}

.bottom_footer {
  color: white;
  text-decoration: none;
  padding-bottom: 7rem;
}

.bottom_footer a {
  text-decoration: none;
}

.help_content {
  text-align: center;
  padding: 2rem;
  margin-left: 20%;
  margin-right: 20%;
  background-color: white;
}

.help_content img {
  width: 25rem;
  padding: 1rem;
}

.help_content>.director_info,
.help_content a {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.help_content p.business_info {
  color: #A0A0A0;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #28a745;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.my-float {
  margin-top: 22px;
}

#fab {
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
}

#fab .icon_button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #FF4F79;
  box-shadow: 3px 3px 5px #555555;

  a{
    text-decoration: none;
  }
}

#fab .icon_button i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.5rem;
  color: white;
}

#fab .icon_button_yt {
  background: #ff0000;
}

#fab .icon_button_in {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

#fab .icon_button_wp {
  background: #23c15f;
}

#fab .icon_button_fb {
  background: #1877f2;
}

#fab .floating-action-btn {
  width: 60px;
  height: 60px;
  background: #28a745;
}

.options {
  list-style-type: none;
  position: absolute;
  bottom: 55px;
  right: 0;
  display: none;
}

.options li {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.options a {
  text-decoration: none;
}

.options li:hover, .floating-action-btn:hover{
  filter: brightness(125%);
}

.profile_pic {
  border: .3rem solid #01176f;
  border-radius: 50%;
  height: 8.5rem;
  width: 8.5rem;
}

.settings_profile_pic{
  height: 15rem;
}

.show-fade {
  display: block;
  animation-name: appear;
  animation-duration: 200ms;
}

@keyframes appear {
  0%{
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}

/****************************Bootstrap overrides***************************/

#nav_bar.navbar .nav-item a:hover{
  opacity: 50%;
}

.nav-pills .nav-item:hover{
  background-color: #bababa;
  border-radius: 15%;
}

.nav-link{
  font-family: IBM Plex Sans;
}

.tab-content {
  background-color: #e2e2e2; 
  width: calc(100% - 88px);
  height: auto;
  min-height: 768px;
}

.bg-primary {
  background-color: #28a745 !important;
}

.btn-outline-primary {
  --bs-btn-color: #28a745;
  --bs-btn-border-color: #28a745;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #28a745;
  --bs-btn-hover-border-color: #28a745;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #28a745;
  --bs-btn-active-border-color: #28a745;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #28a745;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #28a745;
  --bs-gradient: none
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #28a745;
  --bs-btn-border-color: #28a745;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #23993f;
  --bs-btn-hover-border-color: #218f3b;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1f8f39;
  --bs-btn-active-border-color: #1f8537;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #28a745;
  --bs-btn-disabled-border-color: #28a745
}