resources/users/*/trabajos/*
resources/users/*/tareas/*
resources/users/*/documentos/*
.vscode/launch.json
resources/users/Flavio Ariel Almanza Fierro/*.png
resources/users/Flavio Ariel Almanza Fierro/*.jpg
*.zip
connection*.php
resources/information/*
