resources/users/Flavio Ariel Almanza Fierro/tareas/prueba 2_tareas.docx
resources/users/Flavio Ariel Almanza Fierro/tareas/prueba-1_tareas.docx
resources/users/Flavio Ariel Almanza Fierro/trabajos/prueba 2_trabajos.docx
resources/users/Flavio Ariel Almanza Fierro/trabajos/prueba-1_trabajos.docx
users/*/trabajos
users/*/tareas
users/*/coaching
.vscode/launch.json
resources/users/Flavio Ariel Almanza Fierro/tareas/prueba-1_trabajos.docx
resources/users/Flavio Ariel Almanza Fierro/tareas/Regimen Fiscal.xlsx
