<html lang="en">

<head>
</head>

<body>

</html>
<div class="sec-padding footer">
    <div class="container">
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-3">
                <address class="text-light">
                    <strong class="text-white">Dirección:</strong> <br>
                    Antonio de Montes 2114<br>
                    Col. San Felipe<br>
                    <address class="text-light">
                        <br>
                        Chihuahua, Chih.
                    </address>
                    <span class="text-light"><strong class="text-white">Teléfono:</strong> (614) 5901733</span><br>
                    <span class="text-light"><strong class="text-white">Email:</strong><a
                            href="mailto:hola@fridamental.com"> hola@fridamental.com</a></span><br>
                </address>
                <div class="footer_social_icons">
                    <ul class="left-align row">
                        <div class="col-md-3">
                            <a target="_blank" href="https://instagram.com/evofridamental/"><img 
                                src="../img/instagram.png" class="footer_social"></a>
                        </div>
                        <div class="col-md-3">
                            <a target="_blank" href="https://www.facebook.com/CoachFridaEspinosa"><img
                                src="../img/facebook.png" class="footer_social"></a>
                        </div>
                        <div class="col-md-3">
                            <a target="_blank" href="https://www.youtube.com/@fridamental"><img
                                src="../img/youtube.png" class="footer_social"></a>
                        </div>
                        <div class="col-md-3">
                            <a target="_blank" href="https://wa.me/526141572837?text="><img
                                src="../img/whatsapp.png" class="footer_social"></a>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <ul class="footer-quick-links-4 white">
                    <li><a href="ComoFunciona.php"><i class="fa fa-angle-right"></i>¿Cómo funciona?</a></li>
                    <li><a href="Precios.php"><i class="fa fa-angle-right"></i> Precios</a></li>
                    <li><a href="Blog.php"><i class="fa fa-angle-right"></i> Casos de éxito</a></li>
                    <li><a href="FAQ.php"><i class="fa fa-angle-right"></i> Preguntas frecuentes</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="footer-quick-links-4 white">
                    <li><a href="https://mecta.com.mx"><i class="fa fa-angle-right"></i>MECT-A</a></li>
                    
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="footer-quick-links-4 white">
                    <li><a href="Carta.php"><i class="fa fa-angle-right"></i> Carta CEO MECT</a></li>
                    <li><a href="StaffMecta.php"><i class="fa fa-angle-right"></i> Staff MECT</a></li>
                    <li><a href="PoliticaDePrivacidad.php"><i class="fa fa-angle-right"></i> Aviso de privacidad</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bottom_footer">
            <div class="text-center">
                <div class="footer_logo"><img src="../img/footer.png" alt="" style="max-height: 60px;">
                </div>
                <small> Copyright © 2020 Mect-A Todos los derechos son reservados.</small><br>
                <small><a href="https://www.fridamental.com/" target="_blank"><span class="text-white">Un desarrollo de
                            FRIDAMENTAL</span></a></small>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
</body>